<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Thai Crave: Coming Soon!</title>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

  <%= image_tag("thai_crave_device_shot.png", :alt => "Thai Crave Device Shot", :id => "device_image") %>

</body>
</html>
